<template>
  <GChart
    type="ColumnChart"
    :data="chartData"
  />
</template>

<script>
import { GChart } from 'vue-google-charts'

const valid = type => ({
  type,
  required: true,
  validator (value) {
    return value.length > 0
  }
})

export default {
  components: {
    GChart
  },

  computed: {
    chartData () {
      return [
        [this.name, 'Number of Stores'],
        ...this.columns
      ]
    }
  },

  props: {
    name: valid(String),

    columns: valid(Array)
  }
}
</script>
