<template>
  <v-layout>
    <v-flex xs12 md6 offset-md3>
      <v-card color="blue-grey darken-2" class="white--text">
        <v-card-title>
          <div class="card-content">
            <div class="headline">
              <span>{{title}}</span>

              <v-progress-circular
                indeterminate
                v-if="$store.state.loading"
                :size="20"
              />
            </div>

            <slot></slot>
          </div>
        </v-card-title>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      required: true,
      validator (value) {
        return value.length > 0
      }
    }
  }
}
</script>

<style scoped lang="less">
  .card-content {
    width: 100%;

    .headline {
      margin-bottom: 10px;

      span {
        margin-right: 20px;
      }
    }
  }
</style>
