<template>
  <v-container grid-list-lg>
    <Card title="Locations">
      <Filters />
    </Card>

    <Card title="Locations">
      <Table />
    </Card>

    <Card
      title="Ownership Type"
      v-if="ownership.length"
    >
      <Bar
        name="Ownership Type"
        :columns="ownership"
      />
    </Card>

    <Card
      title="Features"
      v-if="features.length"
    >
      <Bar
        name="Features"
        :columns="features"
      />
    </Card>

    <Card
      title="Map"
    >
      <v-flex xs12>
        <v-btn @click="$store.commit('toggle')">
          Toggle Map
        </v-btn>
      </v-flex>

      <Map v-if="$store.state.show"/>
    </Card>
  </v-container>
</template>

<script>
import Bar from './Bar'
import Card from './Card'
import Filters from './Filters'
import Map from './Map'
import Table from './Table'

export default {
  name: 'Cards',

  components: {
    Bar,
    Card,
    Filters,
    Map,
    Table
  },

  computed: {
    ownership () {
      return Object.entries(this.$store.state.filtered.ownership)
    },

    features () {
      return Object.entries(this.$store.state.filtered.features)
    }
  }
}
</script>
