
<template>
  <v-container fluid grid-list-xl>
    <v-form ref="form">
      <v-layout wrap align-center>
        <v-flex xs12 lg4>
          <v-text-field
            label="Search By Name"
            :value="$store.state.filters.query"
            @input="set($event, 'query')"
            outline
            dark
          >
            <template slot="append-outer">
              <v-icon @click="reset('query')">
                undo
              </v-icon>
            </template>
          </v-text-field>
        </v-flex>

        <v-flex xs12 lg4>
          <v-select
            :items="ownerships"
            label="Ownership Types"
            :value="$store.state.filters.ownership"
            @change="set($event, 'ownership')"
            outline
            dark
          >
            <template slot="append-outer">
              <v-icon @click="reset('ownership')">
                undo
              </v-icon>
            </template>
          </v-select>
        </v-flex>

        <v-flex xs12 lg4>
          <v-select
            :items="features"
            label="Features"
            :value="$store.state.filters.feature"
            @change="set($event, 'feature')"
            outline
            dark
          >
            <template slot="append-outer">
              <v-icon @click="reset('feature')">
                undo
              </v-icon>
            </template>
          </v-select>
        </v-flex>

        <v-flex xs12>
          <v-btn
            color="success"
            @click.prevent="search"
          >
            Submit
          </v-btn>

          <v-btn
            color="error"
            @click.prevent="$store.dispatch('reset')"
          >
            Reset
          </v-btn>
        </v-flex>
      </v-layout>
    </v-form>
  </v-container>
</template>

<script>
export default {
  name: 'Filters',

  data () {
    return {
      query: '',
      ownership: '',
      feature: ''
    }
  },

  computed: {
    ownerships () {
      return Object.keys(this.$store.state.ownership)
    },

    features () {
      return Object.keys(this.$store.state.features)
    }
  },

  methods: {
    search () {
      this.$store.commit(
        'search',
        { query: this.query, ownership: this.ownership, feature: this.feature }
      )
    },

    reset (parameter) {
      this.$store.dispatch('reset', parameter)
    },

    set (value, parameter) {
      this[parameter] = value
    }
  }
}
</script>
