<template>
  <div>
    <l-map
      :zoom="zoom"
      :center="center"
      style="height: 400px"
    >
      <l-tile-layer :url="url" />

      <l-marker-cluster>
        <l-marker
          v-for="marker in $store.state.filtered.locations"
          :key="marker.index"
          :lat-lng="[marker.Latitude, marker.Longitude]"
        >
          <l-popup>
            <h1>{{marker.Name}}</h1>
            <p>{{marker.Latitude}}, {{marker.Longitude}}</p>
          </l-popup>
        </l-marker>
      </l-marker-cluster>
    </l-map>
  </div>
</template>

<script>
import { L, LMap, LTileLayer, LMarker, LPopup } from 'vue2-leaflet'
import LMarkerCluster from 'vue2-leaflet-markercluster'

export default {
  name: 'Map',

  components: {
    LMarkerCluster,
    LMap,
    LTileLayer,
    LMarker,
    LPopup
  },

  data () {
    return {
      zoom: 1,
      center: L.latLng(47.413220, -1.219482),
      url: 'http://{s}.tile.osm.org/{z}/{x}/{y}.png',
      currentZoom: 13,
      currentCenter: L.latLng(47.413220, -1.219482)
    }
  }
}
</script>

<style scoped>
@import "~leaflet.markercluster/dist/MarkerCluster.css";
@import "~leaflet.markercluster/dist/MarkerCluster.Default.css";
</style>
