<template>
  <v-data-table
    :headers="headers"
    :items="$store.state.filtered.locations"
  >
    <template slot="items" slot-scope="props">
      <td>{{ props.item['Name'] }}</td>
      <td>{{ props.item['Ownership Type'] }}</td>
      <td>{{ props.item['Latitude'] }}</td>
      <td>{{ props.item['Longitude'] }}</td>
      <td>{{ props.item['Features - Products'] }}</td>
    </template>
  </v-data-table>
</template>

<script>
export default {
  name: 'Table',

  data () {
    return {
      headers: [
        { text: 'Name', value: 'Name' },
        { text: 'Ownership Type', value: 'Ownership Type' },
        { text: 'Latitude', value: 'Latitude' },
        { text: 'Longitude', value: 'Longitude' },
        { text: 'Features', value: 'Features - Procuts' }
      ]
    }
  }
}
</script>
