<template>
  <v-app>
    <v-toolbar app>
      <v-toolbar-title class="headline text-uppercase">
        Spherical Analytics
      </v-toolbar-title>
    </v-toolbar>

    <v-content>
      <Cards v-if="$store.state.loaded" />

      <v-container v-else>
        <v-progress-circular
          indeterminate
          size="100"
        />
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
import Cards from './components/Cards'

export default {
  name: 'App',

  components: {
    Cards
  },

  mounted () {
    this.$store.dispatch('getLocations')
  }
}
</script>
